* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, sans-serif;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.content-from-image {
    background-image: url("line-backgrounf.png");
    width: 1000px;
}

.missao > h1 {
    color: #001489;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
}
p > span {
    font-weight: 700;
    color: #001489;
}
.missao > button {
    margin-top: 30px;
    width: 321.22px;
    height: 54.74px;
    border: 6.48202px solid #2E3092;
    box-sizing: border-box;
    filter: drop-shadow(0px 2.8809px 2.8809px rgba(0, 0, 0, 0.25));
    border-radius: 7.20225px;
    font-weight: 800;
    font-size: 15;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #001489;
}

.content-from-image > img {
    position: absolute;
    margin: 10px, 124px, 10px, 600px;
}

.img-1 {
    margin-right: 550px;
    
}

.img-2 {
    margin-left: 550px;

}

.pixels > p {
    padding: 10px 0 10px 0;
    width: 515px;
}

.pixels {
    display: flex;
    align-items: center;
    justify-content: center;
}

.protocolo-covid {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 500px;
}

.linha-vertical1{
    margin-top: -400px ;

}

.protocolo{
    position: absolute;
    display: flex;
    align-items: center;
}

.protocolo > h1 {
    color: #001489;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
}

.protocolo > p {
    color: #001489;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 20px;
}