* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, sans-serif;
}

body {
    
    display: flex;
    justify-content: center;
    text-align: center;
}

.content-from-image {
    background-image: url("line-backgrounf.png");
    width: 1000px;
}

.missao > h1 {
    color: #001489;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
}
p > span {
    font-weight: 700;
    color: #001489;
}
.btn-home {
    margin-top: 30px;
    width: 321.22px;
    height: 54.74px;
    border: 6.48202px solid #2E3092;
    box-sizing: border-box;
    filter: drop-shadow(0px 2.8809px 2.8809px rgba(0, 0, 0, 0.25));
    border-radius: 7.20225px;
    font-weight: 800;
    font-size: 15;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #001489;
    cursor: pointer;
}

.btn-home:hover{
    color: rgb(61, 47, 47);
    border-color: rgb(61, 47, 47);
}

.content-from-image > img {
    position: absolute;
    margin: 10px, 124px, 10px, 600px;
}

.img-1 {
    margin-right: 550px;
    
}

.img-2 {
    margin-left: 550px;

}

.pixels > p {
    padding: 10px 0 10px 0;
    width: 515px;
}

.pixels {
    display: flex;
    align-items: center;
    justify-content: center;
}

.protocolo-covid {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 50px;
}

.linha-vertical1{
    margin-top: 320px;
    margin-right: -50px;
}

.linha-vertical2{
    margin-top: -320px;
    margin-left: -50px ;
}
.protocolo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("./imagens/background.png") no-repeat; 
    width: 591px;
    height: 280px;
}

.protocolo > h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    white-space: nowrap;
    margin-bottom: 30px;
}

.protocolo > p {
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    width: 300px;
}

.protocolo > a {
    margin-top: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.protocolo > a > p:hover{
    color: rgb(61, 47, 47);;
}

.destaque{
    margin-top: 100px;
}

.inscricoes > h1 {
    color: #001489;
    font-weight: 700;
    font-size: 36px;
    margin-top: 40px;
}
.second-content > p {
    color: #3C3C3C;
    font-weight: 600;
    font-size: 18px;
}

.second-content {
    display: inline-flex;
}