#container-academias{
    margin-top: 100px;
    background-color: #010D52;
    box-shadow: 0 0 2em #3b3b3b;
    font-family: 'Montserrat', sans-serif;
}

#container-academias > h1{
    font-weight: 700;
    color: white;
    margin-top: 2.5rem;
}

#academia-traco {
    margin: 1rem auto 1rem;
    height: 5px;
    width: 60vw;
    background-color: white;
}

#quebrar-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

#quebrar-page>h3{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    font-style: italic;
    font-weight: 500;
}

#quebrar-page > p{
    width: 50rem;
    color: white;
    margin: 0.5rem auto 0;
}

.scrollandinho {
    width: 75vw;
    margin: 3.5rem;
    padding: 1rem;
}

#cards-academias {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

#cards-academias::-webkit-scrollbar{
    display: none;
}

.card-academia {
    height: 20rem;
    min-width: 20rem;
    margin: auto 1rem;
}

.card-ajuste {
    width: 10.5rem;
    height: 20rem;
    margin: auto 1rem;
    flex: none;
}

.card-ajuste > p {
    color: #ffffff00;
}

.btns-academias {
    margin: -2rem auto 4rem;
}


/* BACKGROUNDS */

#picpay{
    background-image: linear-gradient(to bottom, #44DA74, #30A060);
}

#original{
    background-image: linear-gradient(to left bottom, #000, #002D16, #00C55F);
}

#friboi{
    background-image: linear-gradient(to bottom, #ED1C24, #9C090F);
}

#seara{
    background-image: linear-gradient(to bottom, #EE7026, #ff7b00);
}
#swift{
    background-image: linear-gradient(to bottom, #ffc800ce, #FFC700);
}

#picpay, #original, #seara, #friboi, #swift{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}