#container-academias{
    margin-top: 100px;
    background-color: #010D52;
    box-shadow: 0 0 2em #3b3b3b;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1rem;
}



#container-academias > h1{
    font-weight: 700;
    color: white;
    margin: 2.5rem auto;
    width: min-content;
}

#academia-traco {
    margin: 1rem auto 1rem;
    height: 5px;
    width: 60vw;
    background-color: white;
}

#quebrar-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

#quebrar-page>h3{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    font-style: italic;
    font-weight: 500;
}

#quebrar-page > p{
    width: 75vw;
    color: white;
    margin: 0.5rem 15% 0;
    text-align: center;

}

.scrollandinho {
    width: 75vw;
    margin: 2rem auto 3.5rem;
    padding: 1rem;
}

#cards-academias {
    display: flex;
    flex-direction: row;
    overflow-x: auto ;
    scroll-behavior: smooth
    ;
}

#cards-academias::-webkit-scrollbar{
    display: none;
}

.card-academia {
    height: 20rem;
    min-width: 43.5%;
    margin: auto 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container-text-card {
    margin-bottom: 2rem;
    width: 15rem;
    height: 18rem;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-text-card > img {
    width: 8.5vw;
    margin: 1rem auto 1.5rem;

}

#picpay > .container-text-card > img {
    width: 13vw;
    margin: 1rem auto 1.5rem;

}

#original > .container-text-card > img {
    width: 13vw;
    margin: 1rem auto 1.5rem;

}

.container-text-card > h6 {
    color: white;
    flex-wrap: wrap;
    text-align: center;
}

.card-ajuste {
    max-width: 15vw;
    height: 20rem;
    margin: auto 1rem;
    flex: none;
}

.card-ajuste > p {
    color: #ffffff00;
}


.classex {
    transform: scale(1.5);
}


/* BACKGROUNDS */

#picpay{
    background-image: linear-gradient(to bottom, #44DA74, #30A060);
}

#original{
    background-image: linear-gradient(to left bottom, #000, #002D16, #00C55F);
}

#friboi{
    background-image: linear-gradient(to bottom, #ED1C24, #9C090F);
}

#seara{
    background-image: linear-gradient(to bottom, #EE7026, #ff7b00);
}
#swift{
    background-image: linear-gradient(to bottom, #ffc800ce, #FFC700);
}

#picpay, #original, #seara, #friboi, #swift{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


/* BOTOES */

.btns-academias {
    margin: -2rem auto 4rem;
    width: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btns-academias > button {
    border: none;
    background: none;
}

#btn-academias {
    font-size: 2rem;
    color:white;
}

#academia-traco2 {
    margin: -3.5rem auto 4.5rem;
    height: 5px;
    width: 60vw;
    background-color: white;
}



@media screen and (max-width:1023px){
    .btns-academias {
        display: none;
    }

    .btns-academias > button {
        display: none;
    }

    #cards-academias {
        display: flex;
        flex-direction: row;
        overflow-x: auto ;
        scroll-behavior: smooth;
    }

}


@media screen and (max-width: 869px) {
    #container-academias{
        padding-top: 0.7rem;
    }
    
    #container-academias > h1{
        font-weight: 700;
        color: white;
        margin: 2.5rem auto;
        width: min-content;
        font-size: 1.8rem;
    }
    
    #academia-traco {
        margin: 1rem auto 1rem;
        height: 5px;
        width: 60vw;
        background-color: white;
    }
    
    #quebrar-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: auto;
    }
    
    #quebrar-page>h3{
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: white;
        font-style: italic;
        font-weight: 500;
    }
    
    #quebrar-page > p{
        width: 65vw;
        color: white;
        margin: 0.5rem 15% 0;
        font-size: 14px;
    }
    
    
    #cards-academias::-webkit-scrollbar{
        display: none;
    }
    
    .container-text-card > img {
        width: 8.9vw;
        margin: 1rem auto 1.5rem;
    
    }
    
    #picpay > .container-text-card > img {
        width: 13vw;
        margin: 1rem auto 1.5rem;
    
    }
    
    #original > .container-text-card > img {
        width: 13vw;
        margin: 1rem auto 1.5rem;
    
    }
    
    .container-text-card > h6 {
        color: white;
        margin: 0 2rem;
        text-align: center;
        font-size: 0.9rem;
    }
    
    .card-ajuste {
        max-width: 12vw;
        height: 20rem;
        margin: auto 1rem;
        flex: none;
    }
    
    .card-ajuste > p {
        color: #ffffff00;
    }
}

@media screen and (max-width:665px) {
    #container-academias{
        padding-top: 0.7rem;
    }
    
    
    #container-academias > h1{
        font-weight: 700;
        color: white;
        margin: 1.8rem auto;
        width: min-content;
        font-size: 1.4rem;
    }
    
    #academia-traco {
        margin: 1rem auto 1rem;
        height: 5px;
        width: 55vw;
        background-color: white;
    }
    
    #quebrar-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: auto;
    }
    
    #quebrar-page>h3{
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: white;
        font-style: italic;
        font-weight: 500;
    }
    
    #quebrar-page > p{
        width: 50vw;
        color: white;
        margin: 0.5rem 15% -1rem;
        font-size: 10px;
    }
    
    
    #cards-academias::-webkit-scrollbar{
        display: none;
    }

    .card-academia {
        height: 15rem;
    }
    
    .container-text-card > img {
        width: 8.9vw;
        margin: 1rem auto 1.5rem;
    
    }
    
    #picpay > .container-text-card > img {
        width: 13vw;
        margin: 1rem auto 1.5rem;
    
    }
    
    #original > .container-text-card > img {
        width: 13vw;
        margin: 1rem auto 1.5rem;
    
    }
    
    .container-text-card > h6 {
        color: white;
        margin: 0 2rem;
        text-align: center;
        font-size: 0.9rem;
    }
    
    .card-ajuste {
        max-width: 12vw;
        height: 15rem;
        margin: auto 1rem;
        flex: none;
    }
    
    .card-ajuste > p {
        color: #ffffff00;
    }
}

@media only screen and (max-width:619px){
    #container-academias{
        padding-top: -0.4rem;
    }
    
    
    #container-academias > h1{
        font-weight: 700;
        color: white;
        margin: 1.8rem auto;
        width: min-content;
        font-size: 1.3rem;
    }
    
    #academia-traco {
        margin: 0.6rem auto 1rem;
        height: 5px;
        width: 50vw;
        background-color: white;
    }
    
    
    #quebrar-page>h3{
        font-size: 14px;
    }
    
    #quebrar-page > p{
        width: 52vw;
        color: white;
        margin: 0.5rem 15% -1rem;
        font-size: 10px;
    }

    .scrollandinho {
        margin-top: 0.5rem;
    }
    
    .card-academia {
        height: 12.5rem;
    }
    
    .container-text-card > img {
        width: 8.5vw;
        margin: 1rem auto 1.5rem;
    
    }
    
    #picpay > .container-text-card > img {
        width: 13vw;
        margin: 1rem auto 1.5rem;
    
    }
    
    #original > .container-text-card > img {
        width: 13vw;
        margin: 0.5rem auto 1.5rem;
    
    }
    
    .container-text-card > h6 {
        width: 8rem;
        color: white;
        margin: 0 2rem;
        text-align: center;
        font-size: 0.7rem;
    }
    
    .card-ajuste {
        max-width: 12vw;
        height: 15rem;
        margin: auto 1rem;
        flex: none;
    }
    
    .card-ajuste > p {
        color: #ffffff00;
    }

}


@media only screen and (max-width:479px){
    #container-academias{
        padding-top: -0.4rem;
    }
    
    
    #container-academias > h1{
        font-weight: 700;
        color: white;
        margin: 1.8rem auto;
        width: min-content;
        font-size: 1.2rem;
    }
    
    #academia-traco {
        margin: 0.6rem auto 1rem;
        height: 5px;
        width: 50vw;
        background-color: white;
    }
    
    
    #quebrar-page>h3{
        font-size: 13px;
    }
    
    #quebrar-page > p{
        width: 52vw;
        color: white;
        margin: 0.5rem 15% -1rem;
        font-size: 9px;
    }

    .scrollandinho {
        margin-top: 0.5rem;
    }
    
    .card-academia {
        height: 12.5rem;
    }
    
    .container-text-card > img {
        width: 8.8vw;
        margin: 1rem auto 1.5rem;
    
    }
    
    #picpay > .container-text-card > img {
        width: 13vw;
        margin: 1rem auto 1.5rem;
    
    }
    
    #original > .container-text-card > img {
        width: 13vw;
        margin: 0.5rem auto 1.5rem;
    
    }
    
    .container-text-card > h6 {
        width: 6.5rem;
        color: white;
        margin: 0 2rem;
        text-align: center;
        font-size: 0.6rem;
    }
    
    .card-ajuste {
        max-width: 7vw;
        height: 15rem;
        margin: auto 1rem;
        flex: none;
    }
    
    .card-ajuste > p {
        color: #ffffff00;
    }

}

@media only screen and (max-width:400px){
    #container-academias{
        padding-top: -0.4rem;
    }
    
    
    #container-academias > h1{
        font-weight: 700;
        color: white;
        margin: 1rem auto;
        width: min-content;
        font-size: 0.9rem;
    }
    
    #academia-traco {
        margin: 0.6rem auto 1rem;
        height: 5px;
        width: 50vw;
        background-color: white;
        border-bottom: 0.25px solid;
    }
    
    
    #quebrar-page>h3{
        font-size: 11px;
    }
    
    #quebrar-page > p{
        width: 52vw;
        color: white;
        margin: 0.5rem 15% -1rem;
        font-size: 8px;
    }

    .scrollandinho {
        margin-top: 0.5rem;
    }
    
    .card-academia {
        height: 12.5rem;
    }
    
    .container-text-card > img {
        width: 8.8vw;
        margin: 0.5rem auto 1rem;
    
    }
    
    #picpay > .container-text-card > img {
        width: 13vw;
        margin: 1.3rem auto 1.2rem;
    
    }
    
    #original > .container-text-card > img {
        width: 13vw;
        margin: 1.7rem auto 1.2rem;
    
    }
    
    .container-text-card > h6 {
        width: 5rem;
        color: white;
        margin: 0 2rem;
        text-align: center;
        font-size: 0.5rem;
    }
    
    .card-ajuste {
        max-width: 7vw;
        height: 15rem;
        margin: auto 1rem;
        flex: none;
    }
    
    .card-ajuste > p {
        color: #ffffff00;
    }

}