.ajuste1{
    margin: 0 auto;
    border: none;
}


.protocolo-covid {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.linha-vertical1{
    margin-top: 260px;
    margin-right: -50px;
}

.linha-vertical2{
    margin-top: -280px;
    margin-left: -50px ;
}
.protocolo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../../../assets/meninapia.png") no-repeat; 
    width: 591px;
    height: 280px;
}

.protocolo > h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    white-space: nowrap;
    margin-bottom: 30px;
}

.protocolo > p {
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    width: 300px;
}

.procolo-mais {
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}

.procolo-mais > p{
    color: #fff;
}
.ajuste1{
    margin: 0 auto;
    border: none;
}

@media only screen and (max-width:769) {
    .protocolo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: url("../../../assets/meninapia.png") no-repeat; 
        width: 450px;
        height: 220px;
    }

    .procolo-mais > p{
        color: rgb(255, 0, 157);
    }
}

@media screen and (max-width: 880px){
    .ajuste1{
        transform: scale(0.85);
        border: none;
    }
}

@media screen and (max-width: 740px){
    .ajuste1{
        transform: scale(0.75);
        border: none;
    }
}

@media screen and (max-width: 711px){
    .linha-vertical1, .linha-vertical2{
        display: none;
    }
     .ajuste1{
    position: relative;
    height: fit-content;
    border: 5px solid #001489;
    border-radius: 10px;
    margin-top: 50px;
}
    .protocolo{
        padding: 15px 15px 15px 15px;
        margin: 10px;
        ;
    }
    .protocolo-covid{
        margin: 2px;
    }
}

@media screen and (max-width: 600px){
    .ajuste1{
        display: flex;
        width: 100vw;
        transform: scale(0.7);
        justify-content: center;
    }
    .protocolo{
        position: relative;
        width: 450px;
    }
    .protocolo-covid{
        position: relative;

    }
}   

@media screen and (max-width: 480px){
    .protocolo-covid{
        transform: scale(1.2);
    }

    .ajuste1{
        height: 300px;
        border: none;
    }
    .protocolo{
        margin-bottom: 0px;
        padding: 5px 5px 5px 5px;
        margin: 0px;
        border-radius: 10px;
        }
}

@media screen and (max-width: 418px){
    .ajuste1{
        transform: scale(0.65);
        margin-top: 20px;
    }
}

.protocolo{
    border-radius: 10px;
}

.protocolo-covid{
    transform: scale(0.95);;
}