.ajuste {
    margin: auto;
    height: fit-content;
}

.destaque{
    margin-top: 50px;
    display: flex;
}

.titulodestaque {
    margin-bottom: 1rem;
}


#certificados > p {
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    color: #001489;
}

.enem {
    margin: 0 auto;
    margin-bottom: -0.3rem;
    font-size:2.25rem;
    font-weight: 900;
    color: #001489;
}

#certificados {
    align-self: center;
}

.span-titulodestaque {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 600;
    color: #001489;
    margin-bottom: -0.5rem;
}

.subtitulodestaque {
    width: 450px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #001489;
}

.img-destaque > img {
    width: 16.25rem;
}


.legenda {
    font-weight: 700;
    font-size: 0.8rem;
    color: #001489;
}

.traço {
    position: absolute;
    top: 154.5rem;
    left: 53.2rem;
    display: none;
}

@media screen and (max-width: 1024px) {   
    .ajuste {
        margin-top: 5rem;
        margin: auto;
        height: fit-content;
    }
    .destaque{
        margin-top: 100px;
        display: flex;
    }

    #certificados {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    .titulodestaque{
        margin-top: 70px;
        font-size:2rem;
        font-weight: 900;
        color: #001489;
    }
    
    .subtitulodestaque {
        margin-top: 1.2rem;
        width: 15rem;
        font-size: 1rem;
        font-weight: 700;
        color: #001489;
    }
    
    .img-destaque > img {
        width: 16.25rem;
    }
    
    #mariaOdete{
        margin-top: 1.4rem;
        width:70%;
    }
    
    .legenda {
        font-weight: 700;
        font-size: 0.8rem;
        color: #001489;
    }
    
    .traço {
        position: absolute;
        top: 154.5rem;
        left: 53.2rem;
        display: none;
    }
}

@media screen and (max-width: 768px) {   
    .ajuste {
        margin: auto;
        height: fit-content;
    }
    
    .destaque{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .titulodestaque{
        margin-top: 70px;
        font-size:1.5rem;
        font-weight: 900;
        color: #001489;
    }
    
    .subtitulodestaque {
        width: 450px;
        font-size: 1rem;
        font-weight: 700;
        color: #001489;
        max-width: 15rem;
    }
    .inside-subtitulo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .img-destaque {
        width: 16.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .mariaOdete{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: none;
        width:60%;
    }

    .legenda {
        font-weight: 700;
        font-size: 0.8rem;
        color: #001489;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .traço {
        position: absolute;
        top: 154.5rem;
        left: 53.2rem;
        display: none;
    }
}

@media screen and (max-width: 480px) {   
    .ajuste {
        display: flex;
        height: fit-content;
        align-items: center;
        justify-content: center;
    }
        
    #certificados {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .destaque{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .titulodestaque{
        margin-top: 2rem;
        font-size:1rem;
        font-weight: 900;
        color: #001489;
        border-bottom: 2px solid #001489;
        width: 15rem;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }

    .span-titulodestaque {
        font-size: 0.8rem;
        margin-bottom: -0.5rem;
    }

    .enem {
        margin-bottom: 0.3rem;
        font-size: 1.4rem;
    }


    .inside-subtitulo {
        margin-top: -1rem;
    }
    .subtitulodestaque {
        width: 450px;
        font-size: 0.5rem;
        font-weight: 700;
        color: #001489;
        max-width: 8rem;
    }
    
    .img-destaque {
        width: 16.25rem;
        margin-top: -1rem;
    }
    
    .mariaOdete{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: none;
    }

    #mariaOdete {
        width: 50%;
    }

    .legenda {
        font-weight: 700;
        font-size: 0.5rem;
        color: #001489;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .traço {
        position: absolute;
        top: 154.5rem;
        left: 53.2rem;
        display: none;
    }

    #tracodestaque {
        display: none;
    }
}