.title {
    color: #001489;
    margin-top: 40px;
    font-weight: 800;
    font-size: 2rem;
}

.line-1 {
    position: absolute;
    display: flex;
    margin-left: 270px;
    margin-top: 17px;

}

.line-2 {
    margin-left: 205px;
    margin-top: 17px;
    position: absolute;
}

.columns {
}

.column-1 {
    width: 50%;
    justify-content: flex-start;
}

.column-2 {
    width: 50%;
    justify-content: flex-end;
}