

.container-title {
    margin-top: 40px
}


.title {
    color: #001489;
    font-weight: 800;
    font-size: 2rem;
}

.img-1 {
    margin-bottom: -60px;
    margin-right: 700px;
}

.img-2 {
    margin-top: -75px;
    margin-left: 700px;
}