
.video-institucional{
    margin: 20px 0px 20px;
    width: 100vw;
    height: fit-content;
}

.container-video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.cima{
    margin-top: -450px;
    margin-right: -80px;}

.baixo{
    margin-top: 20px;
    margin-left: -75px ;
}

@media screen and (max-width: 711px){
    .cima, .baixo{
        display: none;
    }

    .container-video {
        background: #010D52;
    }

    .video-instituto {
        padding: 5px;
        border: 5px solid #ffffff;
        border-radius: 10px;
    }
}

@media screen and (max-width: 560px){
    .cima, .baixo{
        display: none;
    }

    .video-instituto {
        width: 300px;
        padding: 5px;
        border: 5px solid #ffffff;
        border-radius: 10px;
    }
}

@media screen and (max-width: 365px){
    .cima, .baixo{
        display: none;
    }

    .video-instituto {
        width: 260px;
        padding: 5px;
        border: 5px solid #ffffff;
        border-radius: 10px;
    }
}