.missao > h1 {
    color: #001489;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
}
p > span {
    font-weight: 700;
    color: #001489;
}
.btn-home {
    margin-top: 30px;
    width: 321.22px;
    height: 54.74px;
    border: 6.48202px solid #2E3092;
    box-sizing: border-box;
    filter: drop-shadow(0px 2.8809px 2.8809px rgba(0, 0, 0, 0.25));
    border-radius: 7.20225px;
    font-weight: 800;
    font-size: 15;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #001489;
    cursor: pointer;
}

.btn-home:hover{
    color: rgb(61, 47, 47);
    border-color: rgb(61, 47, 47);
}

.content-from-image > img {
    position: absolute;
    margin: 10px, 124px, 10px, 600px;
}

.img-1 {
    margin-right: 550px;
    
}

.img-2 {
    margin-left: 550px;

}

.pixels > p {
    padding: 10px 0 10px 0;
    width: 515px;
}

.pixels {
    display: flex;
    align-items: center;
    justify-content: center;
}


.protocolo-covid {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 50px;
}

.linha-vertical1{
    margin-top: 320px;
    margin-right: -50px;
}

.linha-vertical2{
    margin-top: -320px;
    margin-left: -50px ;
}
.protocolo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../../assets/meninapia.png") no-repeat; 
    width: 591px;
    height: 280px;
}

.protocolo > h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    white-space: nowrap;

    margin-bottom: 30px;
}

.protocolo > p {
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    width: 300px;
}

.procolo-mais {
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}

.procolo-mais > p{
    color: #fff;
}

.destaque{
    margin-top: 100px;
    display: flex;
}

.legenda {
    font-weight: 700;
    font-size: 0.8rem;
    color: #001489;
}

.img-destaque > img {
    width: 16.25rem;
}

.traço {
    width: 5rem;
}

.titulodestaque{
    font-size:2.25rem;
    font-weight: 900;
    color: #001489;
}

.subtitulodestaque {
    font-size: 1.5rem;
    font-weight: 700;
    color: #001489;
}