#titulo-academia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

#toRow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


#titulo-academia>h1, #toRow > h1, #estagio> #toColumn>h1, #titulo-galeria>h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 44px;
    font-weight: bold;
    color: #001489;
    text-shadow: 2px 1px rgb(214, 214, 214);
}

#toRow>img{
    transform: scale(0.6);
}

#explicacao{
    margin-top: 34px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    width: 543px;
}

#explicacaoAzul{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #010D52;
    width: 573px;
}

#estagio{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 26px;
    flex-direction: row;
}

#estagio> #toColumn >h1{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #001489;
    padding-bottom: 15px;
    border-radius: 2px;
}
#estagio> #toColumn > p{
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    width: 300px;
}

#empresas-participantes{
    color: #010D52;
}

#estagio-foto{
    width: 646px;
    height: 515px;
    margin-left: -70px;
    margin-right: 25px;
    border-radius: 10px;
}

#titulo-galeria{
    position: relative;
    top: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.galeria{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.galeria-PP>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    width: 90vw;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #F28622;
    border-top: 3px solid #f28622;
    padding-top: 35px;
    border-radius: 2px;
}

#titulo-galeria>h1{
    height: 50px;
    border-bottom: 3px solid #001489;
    padding-bottom: 55px;
    border-radius: 2px;
}

.div-com-fotos{
    margin-left: 50px;
    margin-top: -20px;
}

.fotos{
    width: 380px;
    height: 280px;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 10px;
    transition: 0.3s;
}

.fotos:hover{
    transform: scale(105%);
    cursor: pointer;
    box-shadow: 0.325rem 0.425rem 0.125rem 0.0625rem rgba(245, 119, 16, 0.4);
}


#title-sem-borda>p{
    border-top: 0px;
}

@media screen and (max-width: 1177px){
    #titulo-academia>h1, #toRow > h1, #estagio> #toColumn>h1{
        font-size: 36px;
    }
    #toRow>img{
        transform: scale(0.4);
    }
    #explicacao, #explicacaoAzul, #estagio> #toColumn > p{ 
        font-size: 16px;
    }
    #estagio-foto{
        width: 346px;
        height: 315px;
        margin-left: -100px;
    }
    #estagio> #toColumn > p{
        width: 250px;
    }

    #estagio-galeria{
        width: 100vw;
    }
    .div-com-fotos{
        display: flex;
        width: 450px;
        max-height: 340px;
        overflow-x: auto;
        margin: 0px;
        margin-bottom: 30px;
        border: none;

    }

    .fotos{
        min-width: 380px;
        height: 280px;
        margin-top: 20px;
        margin-left: 25px;
        border-radius: 10px
    }
    .galeria{
        margin-left: 0px;
    }

    #titulo-galeria{
        margin-left: 0px;
    }
    .galeria, #titulo-galeria{
        width: 300px;
        margin-left: 37vw;
    }

    .fotos{
        width: 300px;
    }
}

@media screen and (max-width: 880px){
    #titulo-academia>h1, #toRow > h1, #estagio> #toColumn>h1, #titulo-galeria>h1{
        font-size: 32px;
    }
    #toRow>img{
        transform: scale(0.4);
    }
    #explicacao, #explicacaoAzul, #estagio> #toColumn > p{ 
        font-size: 14px;
    }

    #estagio{
        margin-top: 70px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #estagio-foto{
        width: 546px;
        height: 415px;
        margin-left: 0px;
    }
    #toColumn{
        width: 400px;
    }
    #toColumn > h1{
        display: flex;
        justify-content: center;
    }
    #estagio> #toColumn > p{
        width: 400px;
    }

    .div-com-fotos{
        width: 310px;
        height: 260px;
    }
    .fotos{
        min-width: 250px;
        max-height: 250px;
        margin: 0px;
        margin-left: 20px;
    }
    .fotos:hover{
        transform: scale(100%);
    }
    .galeria{
        margin-left: 0px;
    }

    #titulo-galeria{
        margin-left: 0px;
        height: 100px;
    }
    .galeria, #titulo-galeria{
        width: 300px;
        margin-left: 28vw;
    }
    .galeria-PP>p{
        margin-top: 0px;
    }
}

@media screen and (max-width: 700px){
    #toRow>img{
        transform: scale(0.3);
    }

    #barra-academia{
        margin-right: -70px;
    }
    #barra-academia2{
        margin-left: -70px;
    }
    #explicacao, #explicacaoAzul, #estagio> #toColumn > p{ 
        font-size: 14px;
        width: 320px;
    }
    #estagio-foto{
        width: 446px;
        height: 315px;
        margin-left: 0px;
    }
    #estagio> #toColumn > p{
        width: 400px;
    }    
    .galeria{
        margin-left: 0px;
    }

    #titulo-galeria{
        margin-left: 0px;
    }
    .galeria, #titulo-galeria{
        width: 300px;
        margin-left: 37vw;
    }
    .galeria{
        margin-left: 0px;
    }

    .div-com-fotos{
        width: 310px;
        height: 260px;
    }
    .fotos{
        min-width: 250px;
        max-height: 250px;
        margin: 0px;
        margin-left: 20px;
    }
    .fotos:hover{
        transform: scale(100%);
    }
    .galeria{
        margin-left: 0px;
    }

    #titulo-galeria{
        margin-left: 0px;
        height: 100px;
    }
    .galeria, #titulo-galeria{
        width: 300px;
        margin-left: 25vw;
    }
    .galeria-PP>p{
        margin-top: 0px;
    }
    
}


@media screen and (max-width: 580px){
    #toRow>img{
        transform: scale(0.3);
    }
    #toRow{
        width: 20px;
    }

    #barra-academia{
        margin-right: -70px;
    }
    #barra-academia2{
        margin-left: -70px;
    }
    #explicacao, #explicacaoAzul, #estagio> #toColumn > p{ 
        font-size: 12px;
        width: 320px;
    }
    #estagio-foto{
        width: 346px;
        height: 315px;
        margin-left: 0px;
    }
    #estagio> #toColumn > p{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 320px;
    }

    #estagio> #toColumn > h1{
        width: 320px;
    }

    #toColumn{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 320px;
    }
    #titulo-academia>h1, #toRow > h1, #estagio> #toColumn>h1, #titulo-galeria>h1{
        font-size: 26px;
    }
    #titulo-academia{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
    }
    #estagio{
        margin-top: 30px;
    }
    .galeria{
        margin-left: 0px;
    }


    #titulo-galeria{
        margin-left: 0px;
    }
    .galeria, #titulo-galeria{
        width: 280px;
        margin-left: 24vw;
    }
    .fotos{
        min-width: 280px;
        height: 230px;
    }
    .galeria-PP>p{
        font-size: 18px;
        width: 280px;
    }
}

@media screen and (max-width: 400px){
    #toRow>img{
        transform: scale(0.2);
    }
    #toRow{
        width: 20px;
    }

    #barra-academia{
        margin-right: -100px;
    }
    #barra-academia2{
        margin-left: -100px;
    }
    #explicacao, #explicacaoAzul, #estagio> #toColumn > p{ 
        font-size: 12px;
        width: 320px;
    }
    #estagio-foto{
        width: 346px;
        height: 315px;
        margin-left: 0px;
    }
    #estagio> #toColumn > p{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 320px;
    }

    #estagio> #toColumn > h1{
        width: 320px;
    }

    #toColumn{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 320px;
    }
    #titulo-academia>h1, #toRow > h1, #estagio> #toColumn>h1, #titulo-galeria>h1{
        font-size: 20px;
    }
    #titulo-academia{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
    }
    #estagio{
        margin-top: 30px;
    }
    .div-com-fotos{
        width: 310px;
        height: 260px;
        margin-top: -20px;
    }
    .fotos{
        min-width: 200px;
        max-height: 200px;
        margin: 0px;
        margin-left: 10px;
    }
    .fotos:hover{
        transform: scale(105%);
    }
    .galeria{
        margin-left: 0px;
    }

    #titulo-galeria{
        margin-left: 0px;
        height: 100px;
    }
    .galeria, #titulo-galeria{
        width: 300px;
        margin-left: 12vw;
    }

    .galeria-PP>p{
        margin-top: -40px;
    }
    #titulo-galeria{
        margin-top: -10px;
    }
}

@media screen and (max-width: 348px){

    #toRow>img{
        transform: scale(0.2);
    }
    #toRow{
        width: 20px;
    }

    #barra-academia{
        margin-right: -100px;
    }
    #barra-academia2{
        margin-left: -100px;
    }
    #explicacao, #explicacaoAzul, #estagio> #toColumn > p{ 
        font-size: 12px;
        width: 280px;
    }
    #estagio-foto{
        width: 280px;
        height: 265px;
        margin: 0 auto;
    }
    #estagio> #toColumn > p{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 280px;
        font-size: 12px;
    }

    #estagio> #toColumn > h1{
        width: 280px;
    }

    #toColumn{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 280px;
    }
    #titulo-academia>h1, #toRow > h1, #estagio> #toColumn>h1{
        font-size: 20px;
    }
    #titulo-academia{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
    }
    #estagio{
        margin-top: 30px;
    }

    .galeria, #titulo-galeria{
        width: 300px;
        margin-left: 2vw;
    }
    .div-com-fotos{
        width: 280px;
    }
}