*{
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, sans-serif;
}

html {
    overflow-x: hidden;
}



body {
    background-image: linear-gradient(to right, rgba(170, 170, 170, 0.9), rgba(255,255,255   ,1)) no-repeat;
    background-image: linear-gradient(to right, rgba(170, 170, 170, 0.9), rgba(255,255,255   ,1) no-repeat);
    width: 100vw;
}



body {
    background-color:rgb(172, 172, 172);
}